<div class="h-100">
  <ngb-carousel class="h-100">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          [src]="images[0]"
          alt="Random first slide"
          width="100%"
          height="100%"
        />
      </div>
      <div class="carousel-caption">
        <p></p>
        <img src="../../assets/images/logo.png" width="100px" height="100px" />
        <h1 class="m-3">MANAGEMENT SYSTEM FOR BFP AND PNP OF BINALONAN</h1>
        <button class="btn btn-light m-3" (click)="login()">
          Login account
        </button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="../../assets/images/BFP AND PNP.jpg"
          width="100% height=100%"
        />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="../../assets/images/bfp-pnp shots.jpg"
          width="100% height=100%"
        />
      </div>
      <div class="carousel-caption">
        <b
          ><h3>BUREAU OF FIRE PROTECTION</h3>
          <h3>BINALONAN</h3>
          <h3>PHILIPPINE NATIONAL POLICE</h3></b
        >
      </div>
    </ng-template>
  </ngb-carousel>
</div>
