<br />
<br />
<img src="" />

<h4>The Management System For BFP and PNP of Binalonan</h4>
<p></p>
<p>
  Save Lives and Properties and Enforce the law, prevent and control crimes,
  maintain peace and order,and ensure <br />
  public safety and internal security with the active support of the community.
</p>

<div class="row">
  <div class="column">
    <img
      src="../../assets/images/fire month.jpg"
      alt="pnp"
      style="width: 100%"
    />
  </div>
  <div class="column">
    <img
      src="../../assets/images/BFP AND PNP.jpg"
      alt="pnpg"
      style="width: 100%"
      height="100%"
    />
  </div>
  <div class="column">
    <img src="../../assets/images/bfp.jpg" alt="bfp" style="width: 100%" />
    <br />
    <br />
  </div>
</div>
