<div class="d-flex align-items-center justify-content-center h-100 p-3">
  <div class="filled-card p-3 w-100 h-100">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex gap-3">
        <img
          class="circular-image"
          [src]="administrator$?.photo ?? '../../../assets/images/person.jpg'"
          width="60px"
          height="60px"
          alt="profile"
        />
        <div>
          <h5>{{ administrator$?.name }}</h5>
          <span class="text-muted">{{ administrator$?.email }}</span>
        </div>
      </div>

      <div class="d-flex gap-1">
        <button class="btn btn-danger btn-sm" (click)="sendAMessage()">
          <i class="fa-solid fa-map-location-dot me-3"></i>
          Alert Users
        </button>
        <button class="btn btn-success" (click)="editProfile()">
          <i class="fa-solid fa-user-pen me-3"></i>
          Edit Profile
        </button>
        <button class="btn btn-danger" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket me-3"></i>
          Logout
        </button>
      </div>
    </div>
    <div
      class="d-flex p-3 align-items-center bg-dark justify-content-between mt-3"
    >
      <h5 class="text-light">{{ administrator$?.office }}</h5>

      <button class="btn btn-light btn-sm" (click)="addLocation()">
        <i class="fa-solid fa-map-location-dot me-3"></i>
        Add Location
      </button>
    </div>

    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Hotline</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let locations of locations$">
          <th scope="row">{{ locations.name }}</th>
          <td>{{ locations.contact }}</td>
          <td>{{ locations.latitude }}</td>
          <td>{{ locations.longitude }}</td>
          <td>
            <div class="d-flex gap-1">
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteLocation(locations.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
