<br />
<br />
<div class="row">
  <div class="column">
    <img src="../../assets/images/pnp.jpg" alt="pnp" style="width: 100%" />
  </div>
  <div class="column">
    <img src="../../assets/images/pnpg.jpg" alt="pnpg" style="width: 100%" />
  </div>
  <div class="column">
    <img src="../../assets/images/bfp.jpg" alt="bfp" style="width: 100%" />
    <br />
    <br />
    <style>
      /* Three BFP-PNP */
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }

      /* Clear floats after image containers */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
    </style>
  </div>
</div>
<style>
  .container {
    height: 200px;
    position: relative;
    border: 3px solid rgb(148, 48, 56);
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
</style>

<div class="container">
  <div class="vertical-center">
    <h4>OUR TEAM BFP AND PNP</h4>
    <p>
      Save Lives and Properties <br />
      and Enforce the law, prevent and control crimes, maintain peace and
      order,and ensure <br />
      public safety and internal security with the active support of the
      community.
    </p>
  </div>
</div>
<br />
<br />
