@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "ngx-toastr/toastr";
html body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #014422;
  --bg-color: #f0f1f3;
}

.search-input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
  background-color: var(--bg-color);
  outline: none;
}
.search-input2 {
  border: none;
  border-radius: 10px;
  padding: 10px;

  background-color: var(--bg-color);
  outline: none;
}

.filled-card {
  background-color: #f8f9fa; /* Change to desired background color */
  border-radius: 10px;
  margin: 1rem;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.circular-image {
  border-radius: 50%; /* Make the image circular */
}
